*{
    font-size: 16px;
}
img{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

.email{
    color:rgb(197, 197, 197);
    letter-spacing: .1rem;
}

.icon{
    color: gray;
    height: 2rem;
    width: 2rem;
    margin: 1rem 1rem;
    transition: all 1s;
}

.icon:hover{
    transform: scale(1.2);
}

.control{
    color: white;
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}

button:hover{
    border-radius: .5rem;
}